@import url("./reset.css"); 


:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;
}

body {
  color: white;
  margin: 0%;
  background-color: var(--bej);
}
.mock-screen {
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
  font-family: Londrina Solid;
}

header p {
  font-size: 86px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--kirmizi);
  font-family: Roboto Condensed;
  text-align: center;
  padding: 6rem;
  height: 1000px;
  background-image: url("public/assets/iteration-1/home-banner.png");
  background-position: center bottom;
  background-size: 200%;
  background-repeat: no-repeat;
}


.main-container button {
  background: var(--sari);
  font-size: 24px;
  color: var(--koyu-gri);
  font-family: Barlow;
  font-weight: 700;
  padding: 0.5rem 3rem;
  border-radius: 50px;
  border-style: hidden;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  padding: 2rem 0;
  background-color: white
}
.nav-items div {
  display: flex;
  align-items: center;
  width: 32%;
  gap: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.nav-items a {
  text-decoration: none;
  color: var(--koyu-gri);
  font-family: Barlow;
  font-weight: 500;
}

.ad-cards-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: barlow;
  font-weight: 500;
}


.ozel-lezzetus-card {
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-size: cover;
  border-radius: 12px;
  height: 336px;
  padding: 2rem;
}
.ozel-lezzetus-card h2 {
  font-family: Quattrocento;
  font-size: 4rem;
  line-height: 4rem;
}

.ozel-lezzetus-card button {
  margin-top: 10%;
}
.hackathlon-burger-card {
  background-color: #292929;
  border-radius: 12px;
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}
.hackathlon-burger-card h2{
  width: 50%;
  font-weight: 600;
  margin-bottom: 10%;
}
.npm-card {
  background-image: url("public/assets/iteration-2/cta/kart-3.png");
  height: 200px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}
.npm-card h2{
  width: 50%;
  font-weight: 600;
  margin-bottom: 10%;
  color: #292929;
}
.npm-card h2 span{
  color: red;
}
.btn-card {
  background-color: var(--bej);
  border-radius: 50px;
  border-style: none;
  width: 138px;
  height: 48px;
  color: #ce2829;
  font-family: barlow;
  font-weight: 600;
}
.menu-section {
  color: var(--koyu-gri);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-items h2{
  font-family: Satisfy;
  color: var(--kirmizi);
}
.text-items p {
  font-family: Barlow;
  color: var(--koyu-gri);
  font-weight: 600;
  font-size: 2rem;
  width: 50%;
  text-align: center;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  gap: 20%;
  
}
.menu-items button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: white;
  border-radius: 24px;
  border-style: hidden;
  color: var(--koyu-gri);
  font-weight: 500;
  font-family: Barlow;
}
.menu-items button:hover {
  color: #faf7f2;
  background-color: var(--koyu-gri);
  transition-duration: 0.4s;
}
.advenced-menu-section{
display: flex;
flex-direction: column;
align-items: center;
margin: 3rem 0 3rem 0;
font-family: Barlow;
gap: 1rem;
}
.advenced-menu-section div{
  color: #292929;
  border: 1px solid #292929;
  border-radius: 12px;
  background-color: white;
  border-style: hidden;
  padding: 0 1% 1% 1%;
}
.advenced-menu div{
  display: flex;
  justify-content: space-between;
}
.advenced-menu p{
  display: inline-flex;
}
.fiyat {
  gap: 2rem;
}
.para{
  font-weight: 600;
}
footer {
  background-color: var(--koyu-gri);
  font-family: Barlow;
  font-weight: 300;
  padding: 3rem;
}
footer h1{
  width: 50%; 
  font-family: Londrina Solid;
}
.adres div {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}
.hot-menu{
  list-style-type: none;
  padding: 0;
  margin: 2rem 0 2rem 0;
}

.insta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  margin: 2rem 0 2rem 0;

}

.info {
  padding: 2rem 0 0 0;
  border-top: 1px solid var(--acik-gri);
  display: flex;
  justify-content: space-between;
}
 

